<div class="main-container">
  <div class="header">
    <ul>
      <li>Home</li>
      <li>About Us</li>
      <li>Shop</li>
      <li>Contact Us</li>
    </ul>
  </div>

  <div class="content-container">
    <div class="form">
      <div class="heading">Create Task</div>
      <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <div class="block">
          <label for="title">Title</label>
          <input type="text" formControlName="title" id="title" required>
          <div *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched" class="error-message">
            Title is required
          </div>
        </div>
      
        <div class="block">
          <label for="todo">ToDo</label>
          <input type="text" formControlName="todo" id="todo" required>
          <div *ngIf="taskForm.get('todo')?.invalid && taskForm.get('todo')?.touched" class="error-message">
            ToDo is required
          </div>
        </div>
      
        <div class="block">
          <label for="description">Description</label>
          <input type="text" formControlName="description" id="description" required>
          <div *ngIf="taskForm.get('description')?.invalid && taskForm.get('description')?.touched" class="error-message">
            Description is required
          </div>
        </div>
      
        <div class="button">
          <button type="submit" class="save-button">Save</button>
        </div>
      </form>      
    </div>
    <div class="image"><img src="../assets/images/blog-1.jpg" alt=""></div>
  </div>

  <div class="show-task-container">
    <div class="heading">List of Tasks Created</div>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Title</th>
          <th>ToDo</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasksList; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ task?.title }}</td>
          <td>{{ task?.todo }}</td>
          <td>{{ task?.description }}</td>
          <td><div class="dlt-button" (click)="onDelete(task?._id)">Delete</div></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="footer">
    <div class="rights">© 2014-2024 Dummy Technology Co., Ltd. All rights reserved</div>
  </div>
  
</div>
